<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/home.min.css">
    <style>
        body{
            background: url("../static/images/bg.png");
        }

        .m-text{
            font-weight: 300 !important;
            letter-spacing: 1px !important;
            line-height: 1.5 !important;
            font-family: 宋体;
        }

        .m-black{
            color: #333 !important;
        }
    </style>
</head>
<body>
<!-- 首页 -->
    <nav th:replace="_fragments :: menu(5)" class="ui inverted segment stacked m-padding-smaller">
        <div class="ui container">
            <div class="ui inverted secondary stacked menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="item"><i class="mini home icon"></i> 首页</a>
                <a href="#" class="item"><i class="mini idea icon"></i> 分类</a>
                <a href="#" class="item"><i class="mini tag icon"></i> 标签</a>
                <a href="#" class="item"><i class="mini clone icon"></i> 归档</a>
                <a href="#" class="item"><i class="mini info icon"></i> 关于我</a>
                <div class="right item">
                    <div class="ui icon input">
                        <input type="text" placeholder="search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<!-- 首页 -->

<!--    中间部分-->
    <div class="m-padding-big m-container">
        <div class="ui container">
            <div class="ui grid">
                <div class="eleven wide column">
                    <img src="../static/images/green.jpg" alt="" class="ui rounded image" style="width: 800px; height: 500px">
                </div>
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text">刘军民，一个自由开发者，喜欢折腾代码的学习青年，必将学习进行到底</p>
                        <p class="m-text">热爱编程，喜欢折腾，正在学习计算机深处的科学</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic left pointing label">编程</div>
                        <div class="ui orange basic left pointing label">思考</div>
                        <div class="ui orange basic left pointing label">学习</div>
                        <div class="ui orange basic left pointing label">运动</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic left pointing label" style="margin-top: 0.3em; margin-bottom: 0.3em">Java</div>
                        <div class="ui teal basic left pointing label m-margin-tiny" style="margin-top: 0.3em; margin-bottom: 0.3em">MySql</div>
                        <div class="ui teal basic left pointing label m-margin-tiny" style="margin-top: 0.3em; margin-bottom: 0.3em">SpringBoot</div>
                        <div class="ui teal basic left pointing label m-margin-tiny" style="margin-top: 0.3em; margin-bottom: 0.3em">JavaScript</div>
                        <div class="ui teal basic left pointing label m-margin-tiny" style="margin-top: 0.3em; margin-bottom: 0.3em">Node</div>
                        <div class="ui teal basic left pointing label m-margin-tiny" style="margin-top: 0.3em; margin-bottom: 0.3em">...</div>
                    </div>
                    <div class="ui attached bottom segment">
                        <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                        <a href="#" class="ui qq circular icon button" data-content="1792619448" data-position="bottom center"><i class="qq icon"></i></a>
                    </div>

                    <div class="ui wechat-qr flowing popup transition hidden">
                        <img src="../static/images/WeChat.png" alt="" class="ui rounded image" style="width: 100px">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 中间部分 -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<!--    底部-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-large">
        <div class="ui center aligned container">
            <div class="ui inverted divided grid">
                <div class="three wide column">
                    <div class="item">
                        <img src="../static/images/WeChat.png" class="ui rounded image" alt="" style="width: 100px">
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新项目</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">最新项目</a>
                        <a href="#" class="item">最新项目</a>
                        <a href="#" class="item">最新项目</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:1792619448@qq.com</a>
                        <a href="#" class="item">QQ:1792619448</a>
                        <a href="https://github.com/liujunminx" class="item">GitHub-></a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">关于博客</h4>
                    <div class="ui inverted link list">
                        <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，分享自己学习历程中的笔记，项目，感想，希望能和大家交流学习</p>
                    </div>
                </div>
            </div>
            <div class="ui inverted divider section"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2019 Lemon Designed by Liu JunMin</p>
        </div>
    </footer>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(".qq").popup();

    $(document).ready(function(){
        $(".wechat").popup({
            popup: $('.wechat-qr.popup'),
            position: 'bottom center'
        });
    });
</script>
</body>
</html>